/* Universal Styles */
html,
body {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  background-color: white;
  margin: 0 auto;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
main {
  padding-top: 4rem;
  z-index: 5;
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}
h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: white;
}
header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
  letter-spacing: .25rem;
}
header .logo img {
  height: 2rem;
  padding-right: 1rem;
}
nav li {
  display: inline-block;
  padding: 1rem;
}
header nav {
  padding-right: 1.5rem;
}
header .bold {
  font-weight: bold;
}
header .mobile {
  display: none;
}
@media only screen and (max-width: 560px) {
  header .desktop {
    display: none;
  }
  .hide {
    display: none;
  }
  header span {
    display: none;
  }
  header .mobile {
    display: block;
    width: 100%;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header .mobile li {
    padding: 0;
  }
}

/* First banner */
.banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}
.banner .image-container1 {
  width: 60%;
  overflow: hidden;
  padding: 2rem;
}
.banner .image-container1 img {
  width: 100%;
  height: auto;
  display: block;
}
.learn {
  margin-left: 1.5rem;
  margin-right: 5rem;
  width: 40%;
  text-align: center;
}
.learn h1, .learn h2 {
  margin: 1rem;
}
.learn .button {
  color: black;
  text-align: center;
  background-color: lightblue;
  margin: 1rem;
}


/* Second banner */
.information {
  display: flex;
  background-color: lightblue;
}
.information .image-container2 {
  width: 60%;
  overflow: hidden;
  padding: 2rem;
  border-right: 1px solid black;
}
.information .image-container2 img {
  width: 100%;
  height: auto;
}
.information h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.information p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.information .image-container2 h4 {
  padding: 2rem 0;
}
.information .programme {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
}
.information .box {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.information .image-container3 {
  width: 40%;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
}
.information .image-container3 img {
  width: 100%;
  height: auto;
}
.information .text {
  width: 65%;
}
.information .text h3 {
  font-size: 1.5rem;
}
.programme .text p {
  margin: 1rem 0;
  line-height: 1.4;
  font-size: 1rem;
}
#mobile {
  display: none;
}


/* Third banner */
/* Fourth banner */
/* Footer */
