/* Universal Styles */
html,
body {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  background-color: white;
  color: #142941;
}
a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  height: 4rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px black;
  background-color: #FFFFFF;
}
header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 1.5rem;
  letter-spacing: .25rem;
}
header .logo img {
  height: 3rem;
  padding-right: 1rem;
}
header .logo span {
  font-size: 1.75rem;
}
nav li {
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
header nav {
  padding-right: 1.5rem;
}
header .bold {
  font-weight: bold;
  color: #32639A;
}
/* First banner */
.banner {
  display: flex;
  align-items: center;
  background-color: #B2CAE6;
  line-height: 1.4;
}
.banner .image-container1 {
  width: 60%;
  overflow: hidden;
  padding: 2rem;
}
.banner .image-container1 img {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}
.banner1 {
  margin-left: 1.5rem;
  margin-right: 5rem;
  width: 40%;
  text-align: center;
}
.banner1 .button {
  text-align: center;
  background-color: #32639A;
  margin: 1rem;
}
.banner1 .button h3 {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
}
.banner h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
}
.banner h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

/* Second banner */
.information {
  display: flex;
  background-color: #FFFFFF;
}
.information .image-container2 {
  width: 60%;
  overflow: hidden;
  padding: 2rem;
  border-right: 1px solid #142941;
}
.information .image-container2 img {
  width: 100%;
  height: auto;
}
.information h2 {
  font-size: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
.information p {
  font-size: 1.2rem;
  line-height: 1.4;
}
.information .image-container2 h4 {
  padding: 2rem 0;
  font-style: italic;
}
.information .programme {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem 0;
}
.information .box {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #142941;
}
.information .image-container3 {
  width: 40%;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
}
.information .image-container3 img {
  width: 100%;
  height: auto;
}
.information .text {
  width: 65%;
}
.information .text h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.information .text p {
  margin: 1rem 0;
  line-height: 1.4;
  font-size: 1rem;
}
.information .text h4 {
  font-weight: bold;
  color: #6696CD;
  text-decoration: underline;
}


/* Third banner */
.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #B2CAE6;
}
.learning h2 {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
.learning .top,
.learning .bottom {
  display: flex;
}
.learning .course {
  width: 33.33%;
  padding: 1rem;
}
.learning .course img {
  width: 100%;
  height: auto;
}
.learning .coursename {
  background-color: white;
  height: 9rem;
  padding: 1rem;
}
.learning .coursename h3 {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.learning .coursename p {
  line-height: 1.4;
  padding: 0.5rem 0;
}

/* Fourth banner */
.thesis h2 {
  font-weight: bold;
  padding-top: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
}
.information .video-container video {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.information .video-container {
  width: 60%;
  padding: 2rem;
}
.thesis .programme .box {
  border-bottom: none;
}
.thesis h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: bold;
}
.thesis p {
  line-height: 1.4;
  font-size: 1rem;
  padding: 1rem 0;
}
.thesis .programme .box p {
  padding: 0;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: #B2CAE6;
  border-top: 1px solid #142941;
}
footer .footer-bottom {
  display: flex;
  flex-grow: 1;
  padding-left: 2rem;
  padding-top: 1.5rem;
}
.termsprivacy {
  padding-top: 1.5rem;
  padding-right: 1rem;
}
.termsprivacy span {
  padding: 0.5rem;
}
@media only screen and (min-width: 561px) {
  #mobile {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
/*Header*/
  header #desktop {
    display: none;
  }
  .hide {
    display: none;
  }
  header span {
    display: none;
  }
  header #mobile {
    display: block;
    width: 100%;
  }
  header #mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  header #mobile li {
    padding: 0;
  }
  /*First banner*/
  .banner {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .banner .image-container1 {
    width: 100%;
    overflow: hidden;
    padding: 0;
  }
  .banner1 {
    width: 100%;
    align-items: center;
    margin: 0 auto;
  }
  .banner1 .button h3 {
    font-size: 1.5rem;
  }
  .banner1 .button {
    margin: 2rem;
  }
  .banner h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .banner h2 {
    font-size: 1rem;
  }
/*Second banner*/
  .information .programme {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .information .box {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  .information .image-container3 {
    width: 100%;
    overflow: hidden;
    padding: 0;
  }
  .information .text {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }
/*Third banner*/
  #desktop {
    display: none;
  }
  .learning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem 0 0;
  }
  .learning h2 {
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .learning .top, .bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .learning .course {
    width: 100%;
    padding: 0.5rem;
  }
  .learning .coursename {
    height: 2.5rem;
    width: 100%
    padding: 1rem;
  }
  .learning .coursename h3 {
    padding: 0.5rem 0;
    font-size: 1.5rem;
  }
/*Fourth banner */
  .thesis {
    margin-top: 2rem;
  }
  .thesis h2 {
    font-size: 2rem;
  }
  .information .video-container {
    width: 100%;
  }
/*Footer*/
  footer {
    height: 4rem;
  }

}
